<nav class='toc'>
  <section>
    <h3>Recent Releases</h3>
    <ul>
      {% for i in (0..4) %}
      {% assign release = site.releases[i] %}
        <li>
          <a href="{{release.html_url}}">
            {{release.name}}
          </a>
          <small>({{release.published_at | date: "%B %e, %Y" }})</small>
        </li>
      {% endfor %}
      <li>
        <a href="https://github.com/{{site.repository}}/releases">
          All releases...
        </a>
      </li>
    </ul>
  </section>
  <section>
    <h3>Recent Posts</h3>
    <ul>
      {% for i in (0..9) %}
      {% assign post = site.posts[i] %}
        <li>
          <a
            {% if (post.slug == page.slug) %} class="active" {% endif %}
            href="{{ site.baseurl }}{{ post.url }}">
            {% if post['short-title'] %}{{ post['short-title'] }}
            {% else %}{{ post.title }}
            {% endif %}
          </a>
        </li>
      {% endfor %}
      <li><a
        {% if (page.id == 'all') %} class="active" {% endif %}
        href="/blog/all.html">All posts...</a></li>
    </ul>
  <section>
</nav>
