{% include vars.html %}
{% include meta.html page=page %}
<!doctype html>
<html lang="{% if lang.tag %}{{lang.tag}}{% else %}en{% endif %}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">
    <link rel="canonical" href="{{meta_canonical}}">
    <link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="{{"/feed.xml" | prepend: site.baseurl | prepend: site.url}}" />
    <link rel="icon" href="{{"/favicon.ico" | prepend: site.baseurl}}?t={{site.time | date_to_xmlschema}}" type="image/x-icon">

    {% css 'main.css' %}
    <!-- <link rel="stylesheet" href="{{"/assets/main.css" | prepend: site.baseurl}}?t={{site.time | date_to_xmlschema}}"> -->

    {% if page.search or layout.search %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/docsearch.js/2.1.8/docsearch.min.css" integrity="sha256-qtayAfor6DgK7swJ/RmRl5Cbo9XUAhuJzGjNfqQLHDU=" crossorigin="anonymous"/>
    {% endif %}
  </head>
  <body>
    {% include navbar.html %}
    <div class="content">
      {{content}}
    </div>
    {% include footer.html %}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha256-/5pHDZh2fv1eZImyfiThtB5Ag4LqDjyittT7fLjdT/8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js" integrity="sha256-+h0g0j7qusP72OZaLPCSZ5wjZLnoUUicoxbvrl14WxM=" crossorigin="anonymous"></script>
    {% js 'prelude.js' %}
    {% js 'editor.js' %}
    <!-- <script type="text/javascript" src="/assets/editor.js?t={{site.time | date_to_xmlschema}}"></script> -->

    {% if page.search or layout.search %}
      {% js 'docsearch.js' %}
    {% endif %}

    {% for script in page.scripts %}
      <script type="text/javascript" src="{{script}}?t={{site.time | date_to_xmlschema}}"></script>
    {% endfor %}
  </body>
</html>
