{% include vars.html %}
{% include meta.html page=page %}
<!doctype html>
<html lang="{% if lang.tag %}{{lang.tag}}{% else %}en{% endif %}"{% if page.fullscreen %} class="site-fullscreen"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">
    <meta property="og:url" content="https://flow.org{{ page.url }}">
    <meta property="og:title" content="{{meta_title}}">
    <meta property="og:site_name" content="Flow">
    <meta property="og:description" content="{{meta_description}}">
    <meta property="og:image" content="http://flow.org/static/ogp-1200x630-1.png">
    <meta property="og:image:secure_url" content="https://flow.org/static/ogp-1200x630-1.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <link rel="canonical" href="{{meta_canonical}}">
    <link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="{{site.url}}/blog/feed.xml" />
    <link rel="shortcut icon" href="/static/favicon.png?t={{site.time | date_to_xmlschema}}">
    <link rel="stylesheet" href="/assets/main.css?{{site.time | date: '%s'}}" />
    {% if page.search or layout.search %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/docsearch.js/2.6.3/docsearch.min.css" integrity="sha256-QOSRU/ra9ActyXkIBbiIB144aDBdtvXBcNc3OTNuX/Q=" crossorigin="anonymous"/>
    {% endif %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49208336-4', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    {% include navbar.html %}
    <section class="page-content">
      {{content}}
    </section>
    {% if page.footer %}
      {% include footer.html %}
    {% endif %}

    <script type="text/javascript" src="/assets/main-bundle.js?{{site.time | date: '%s'}}"></script>
    {% if page.entrypoint %}
    <script type="text/javascript" src="/assets/{{page.entrypoint}}-bundle.js?{{site.time | date: '%s'}}"></script>
    {% endif %}
    {% if page.search or layout.search %}
    <script type="text/javascript" src="/assets/search-bundle.js?{{site.time | date: '%s'}}"></script>
    {% endif %}
    {% if page.editor or layout.editor %}
    <script type="text/javascript" src="/assets/editor-bundle.js?{{site.time | date: '%s'}}"></script>
    {% endif %}
  </body>
</html>
