{% include vars.html %}
{% include meta.html page=page %}
<!doctype html>
<html lang="{% if lang.tag %}{{lang.tag}}{% else %}en{% endif %}"{% if page.fullscreen %} class="site-fullscreen"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">
    <link rel="canonical" href="{{meta_canonical}}">
    <link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="{{site.url}}{{site.baseurl}}/feed.xml" />
    <link rel="icon" href="{{site.baseurl}}/favicon.ico?t={{site.time | date_to_xmlschema}}" type="image/x-icon">
    <link rel="stylesheet" href="{% asset_path 'main.scss' %}?t={{site.time | date_to_xmlschema}}">
    {% if page.search or layout.search %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/docsearch.js/2.1.8/docsearch.min.css" integrity="sha256-qtayAfor6DgK7swJ/RmRl5Cbo9XUAhuJzGjNfqQLHDU=" crossorigin="anonymous"/>
    {% endif %}
    {% if page.codemirror or layout.codemirror %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/codemirror.min.css" integrity="sha256-MdzaXfGXzZdeHw/XEV2LNNycipsLk4uZ0FYzO3hbuvI=" crossorigin="anonymous"/>
    {% endif %}
  </head>
  <body>
    {% include navbar.html %}
    <div class="content">
      {{content}}
    </div>
    {% include footer.html %}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>
    <script type="text/javascript">
      require.config({
        baseUrl: '/assets',
        waitSeconds: 30,
        shim: {
          'bootstrap': { 'deps': ['jquery'] }
        },
        paths: {
          'jquery': 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min',
          'tether': 'https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min',
          'bootstrap': 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min',
          'docsearch': 'https://cdnjs.cloudflare.com/ajax/libs/docsearch.js/2.1.8/docsearch.min',
          'codemirror/lib/codemirror': 'https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/codemirror.min',
          'codemirror/addon/lint/lint': 'https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/addon/lint/lint.min',
          'codemirror/mode/javascript/javascript': 'https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/mode/javascript/javascript.min',
          'codemirror/mode/xml/xml': 'https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/mode/xml/xml.min',
          'codemirror/mode/jsx/jsx': 'https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/mode/jsx/jsx.min',
          'lz-string': 'https://cdnjs.cloudflare.com/ajax/libs/lz-string/1.4.4/lz-string.min'
        }
      });

      // {% asset_name "prelude.js.es6" %}

      require([
        'jquery',
        'tether',
        'bootstrap',
        {% if page.editor or layout.editor %}'{% asset_name "editor.js.es6" %}',{% endif %}
        {% if page.search or layout.search %}'{% asset_name "search.js.es6" %}',{% endif %}
        {% for script in page.scripts %}
        '{% asset_name {{script}} %}',
        {% endfor %}
      ], function() {});
    </script>
  </body>
</html>
