{
  "presets": ["es2015"],
  "plugins": [
    "syntax-async-functions",
    "syntax-flow", 
    "syntax-trailing-function-commas",
    "transform-class-properties",
    "transform-flow-strip-types",
    "transform-regenerator",
  ]
}
