*TAGS
_build
/_opam
/dist
/_obuild
/.ocp
/lib/INDEX
.DS_STORE
docs/_site/
_site/
/bin
npm-debug.log
/node_modules/
/tests/*/*.err
*.swp
*.swo
flow.odocl
flow.docdir
*~
/hack/utils/get_build_id.gen.c
/flowlib.rc
.merlin

# This is an alias of flow-remove-types that we generate during publishing
/packages/flow-node
