docs/_site/
npm-debug.log
flow.odocl
flow.docdir

.DS_STORE
.vscode/
.merlin

*.swp
*.swo
*.o
*.a
*TAGS
*~
*.log
*.cache

/_opam
/dist
/_obuild
/.ocp
/lib/INDEX
/test-results
/hack/utils/get_build_id.gen.c
/flowlib.rc
/node_modules/
/tests/*/*.err
/bin

_build
_site/

# This is an alias of flow-remove-types that we generate during publishing
/packages/flow-node
