---
layout: page
include_nav_posts: true
---

{% for post in site.posts %}
  <div class="blog-post">
    <h3>
      {% if post.medium-link %}
        <a href="{{post.medium-link}}">
          {{post.title}}
        </a>
      {% else %}
        <a href="{{site.baseurl}}{{post.url}}">
          {{post.title}}
        </a>
      {% endif %}
    </h3>

    <p class="small text-muted">
      Posted {{post.date | date: "%b %-d, %Y"}} by {{post.author}}
    </p>

    <div class="blog-excerpt clearfix">
      {% if post.content contains '<!--truncate-->' %}
        {{ post.content | split:'<!--truncate-->' | first }}
        <div class="read-more">
          <a href="{{ site.baseurl }}{{ post.url }}" >
            Read more &rarr;
          </a>
        </div>
      {% else %}
        {{ post.content }}
        {% if post.medium-link %}
          <a href="{{post.medium-link}}" >
            Read more on Medium &rarr;
          </a>
        {% endif %}
      {% endif %}
    </div>

    {% unless forloop.last %}
      <hr class="my-2"/>
    {% endunless %}
  </div>
{% endfor %}
