# -*- conf -*-

break-cases = all
break-fun-decl = smart
break-infix = fit-or-vertical
break-separators = after-and-docked
break-sequences = true
break-string-literals = never
cases-exp-indent = 2
disambiguate-non-breaking-match = true
exp-grouping = preserve
field-space = tight-decl
if-then-else = k-r
indicate-nested-or-patterns = unsafe-no
leading-nested-match-parens = true
let-open = short
parens-tuple-patterns = always
sequence-blank-line = preserve-one
sequence-style = terminator
space-around-records = true
space-around-variants = true
type-decl = sparse
wrap-fun-args = false
