html {
  height: 100%;
}

body {
  padding-top: 53px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

section.page-content {
  border-top: 1px solid $flow-gray-darkest;
  border-bottom: 1px solid $flow-gray-darkest;
  background: white;
  flex: 1;
}
