a.card {
  display: block;
  color: inherit;
  text-decoration: none;

  &:hover {
    border-color: rgba(0,0,0,.2);
  }

  &:hover .text-primary {
    text-decoration: underline;
  }
}

.guide-card {
  .card-text {
    @include media-breakpoint-up('lg') {
      min-height: $line-height-base * $font-size-base * 5;
    }

    @include media-breakpoint-up('xl') {
      min-height: $line-height-base * $font-size-base * 4;
    }
  }
}
