h1, h2, h3, h4, h5 {
  .toc {
    background: red;
    display: inline-block;
    width: 0;
    margin-top: -72px;
    padding-top: 72px;
    visibility: hidden;
  }

  .toc::before {
    content: "#";
  }

  &:hover .toc {
    visibility: visible;
  }
}
