/*= link flow-hero-logo.png */
/*= link search.png */

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    margin: 0;
    padding-top: 50px;
    line-height: 22px;

}

h1, h2, h3, h4 {
    font-weight: normal;
    margin: 1.3em 0 0.2em;
    line-height: 1.4em;
    position: relative;
}

header, h1, h2, h3, h4 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

code, pre {
    font-family: "Roboto Mono", Menlo, monospace;
    -webkit-font-smoothing: subpixel-antialiased;
}

td {
    vertical-align: top;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child {
    margin-top: 0;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.1em;
}

p, ul, ol {
    margin:  0 0 1em 0;
}

.marketing-row {
  padding: 10px 0;
  margin: 30px 0;
}
.marketing-row .width {
  max-width: 700px;
}
.marketing-row a {
  color: #aaa;
}

div.highlighter-rouge,
div.highlighter-flow {
  margin: 20px 0;
}

pre.highlight,
div.highlight table pre {
    font-size: 13px;
    line-height: 20px;
}

pre.highlight code {
    width: 100%;
    white-space: pre;
}

pre.highlight code,
div.highlight table {
    overflow-x: auto;
    display: block;
    padding: 0;
    font-size: 13px;
    border-left: 4px solid rgb(214, 139, 0);
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 0;
    background-color: rgba(226, 141, 49, 0.1);
}
.language-bash div.highlight table,
.language-bash pre.highlight code {
    border-left: 4px solid hsl(19, 0%, 42%);
    background-color: hsla(8, 0%, 54%, 0.1);
}
.cli-error div.highlight table,
.cli-error pre.highlight code {
    border-left: 4px solid hsl(19, 100%, 42%);
    background-color: hsla(8, 75%, 54%, 0.1);
}

div.highlight table .gutter {
  padding: 0 5px 0 5px;
  border-right: 1px solid #ccc;
}

div.highlight table .code {
  padding: 0 0 0 12px;
}

.lineno {
    color: rgb(214, 139, 0);
}

.lineno::after {
    content: ';';
    font-size: 0;
}

/* remove space between CLI + CLI error examples */
div.language-bash + div.cli-error {
  margin-top: -20px;
}

ul, ol {
    list-style-position: outside;
    margin-left: 1em;
    padding-left: 1em;
}


a {
    text-decoration: none;
    color: #CC2E39;
}

nav.toc a {
    color: #444;
}
nav.toc a.active {
    color: #CC2E39;
}

a.hash-link {
    color: #ccc;
}

a.hash-link:hover {
    color: #CC2E39;
}

.width {
    margin: 0 auto;
    padding: 0 20px;
}

header:after,
section.content:after,
footer:after,
section.marketing-row:after,
div.getting-started:after,
.docs-prevnext:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

header.topbar {
    background: #222;
    color: #EEE;
    position: fixed;
    top: 0;
    height: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 100;
}

header.topbar .logo {
    float: left;
    margin-right: 20px;
    height: 50px;
}

.flow-header {
    background-image: url(asset-path('flow-hero-logo.png'));
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 150px;
    margin-bottom: 15px;
}

header.topbar nav ul.external {
    float: right;
}

header.topbar nav ul {
    float: left;
    text-align: right;
    padding: 0;
    margin: 0;
    font-size: 0;
}

header.topbar nav ul li {
    display: inline;
    text-transform: lowercase;
}

header.topbar nav ul li a {
    padding: 0 8px;
    text-transform: lowercase;
    letter-spacing: 1px;
    line-height: 50px;
    display: inline-block;
    height: 50px;
    color: #EEE;
    font-size: 18px;
}

header.topbar nav ul li a.active {
    color: #FFF;
    border-bottom: 3px solid #FBE178;
    background: #222;
}

header.topbar nav ul li a:hover {
    background: #FBE178;
    color: #222;
}

header.hero {
    padding: 20px 0;
}

header.hero .width {
    text-align: center;
}

header.hero.main {
  background: #363d42;
  color: #ebebed;
  padding: 40px 0;
}

header.hero h1 {
    font-size: 4em;
    font-weight: normal;
    color: #bb2910;
    margin: 0;
    line-height: 1.5em;
}

header.hero p {
    margin: 0 0 .5em;
    text-transform: uppercase;
}

header.hero a.button {
    background: #CC2E39;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    display: inline-block;
    margin: 1em;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}

header.hero a.sub-header-link {
    font-size: .8em;
    border-collapse: collapse;
    border-right: 1px solid #aaa;
    padding-left: 0;
    padding-right: 4px;
    margin-left: -4px;
    margin-right: 3px;
}

header.hero a.sub-header-link:last-child {
    border-right: 0;
}


section.content {
    margin: 30px 0;
}

section.content article ul li,
section.content article ol li {
  margin-bottom: 0.5em;
}


section.content article img {
    display: block;
    margin: 1em auto;
}

section.content article blockquote {
    border-left: 4px solid hsl(19, 100%, 42%);
    padding: 5px 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

section.content article blockquote p {
    margin: 0;
}

section.content article blockquote p:first-child {
    float: left;
    margin-right: 5px;
    color: hsl(19, 100%, 42%);
}

section.content article blockquote p {
    font-style: italic;
}

section.content article blockquote small:before {
    content: '\2014 \00A0';
}

section.content article.withtoc {
    position: relative;
}

section.content article .read-more {
  font-weight: bold;
  text-align: right;
}

section.content article hr.blogpostend {
  margin-bottom: 20px;
  margin-top: 20px;
}

section.content article img {
  width: 100%;
}

section.content aside .fb-like {
    top: 4px;
    left: 4px;
}

.fb-like {
    vertical-align: top;
}

.edit-page-block {
    padding: 5px;
    font-size: 12px;
    color: #887766;
    text-align: center;
    background-color: #FCF5E0;
}

nav.toc {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
}

nav.toc h3 {
    margin: 0.5em 0;
    padding-top: 0.5em;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 40px;
}

nav.toc section:first-child h3 {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}

nav.toc ul {
   list-style: none;
   margin: 0;
   padding-left: 0;
}

nav.toc ul li {
    line-height: 20px;
}

footer {
    padding: 5px 0 10px 0;
    font-size: 13px;
    text-align: right;
}

body.home footer {
    background: #363d42;
    padding: 20px 0;
    text-align: left;
    color: #ebebed;
}
body.home footer .oss_logo {
    float: left;
}
body.home footer .oss_logo img {
    height: 45px;
}
body.home footer .copyright {
  text-align: right;
}
body.home footer a {
  color: #999;
}

.docs-prevnext .right {
    float: right;
}

.docs-prevnext .right a {
    color: #cd4e34;
    padding: 0 5px;
}

.playgroundCode, .playgroundPreview {
    border-left: 4px solid #D68B00;
    margin-left: 20px;
    background-color: rgba(226, 141, 50, 0.1);;
}

.playgroundError {
    padding: 10px;
}

.playgroundPreview {
    margin-top: 10px;
    margin-bottom: 200px;
}

.playground > :first-child {
    display: none;
}

.cm-keyword, .cm-atom {
    font-weight: bold;
}

.cm-number {
    color: #099;
}

.cm-string {
    color: #D01040;
}

.cm-comment {
    color: #998;
    font-style: italic;
}

.CodeMirror-code {
    line-height: 20px;
}
.CodeMirror-cursor {
    margin-top: 4px;
}
div.CodeMirror-lines {
    padding: 5px 0;
}


.hash {
    margin-left: 3px;
    visibility: hidden;
}

*:hover > .hash {
    visibility: visible;
}

.hashref {
    position: absolute;
    top: -60px;
    left: 0;
}

.code-sample {
  position: relative;
}

.code-sample .hide,
.code-sample .show {
  position: absolute;
  right: 0;
  margin-top: -50px;
  font-weight: bold;
  font-size: 11px;
  padding: 5px 7px;
  color: rgba(214, 139, 0, 0.75); /* #d68b00 @ 75% */
}

.code-sample:hover .hide,
.code-sample:hover .show {
  color: #d68b00;
}

.code-sample .hide:hover,
.code-sample .show:hover {
  color: #CC2E39;
}


/* by default, always show errors */
.code-sample .show,
.code-sample .hide,
.code-sample.shown .hide {
  display: none;
}
.code-sample .language-bash,
.code-sample .language-text {
  display: block;
}

/* on devices that can hover (so the inline errors are useful), hide the
   cli output by default */
@media (hover) {
  .code-sample.shown .hide,
  .code-sample .show {
    display: inline;
  }

  .code-sample.shown .show,
  .code-sample .hide,
  .code-sample .language-bash,
  .code-sample .language-text {
    display: none;
  }

  .code-sample.shown .language-bash,
  .code-sample.shown .language-text {
    display: block;
  }
}


#\_ {
    display: block;
    position: absolute;
    top: -60px;
    left: 0;
}

@media (max-width: 480px) {
    body {
      padding-top: 40px;
      font-size: 13px;
      line-height: 18px;
    }

    header.topbar .width {
      padding: 0 5px;
    }

    header.topbar {
      height: 40px;
    }

    header.topbar .logo {
      margin-right: 10px;
      height: 40px;
    }

    header.topbar nav ul li a {
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      padding: 0 7px;
    }

    header.topbar nav ul.external {
      float: left;
    }

    header.topbar .width {
        padding: 0;
    }

    .content .width,
    .marketing-row .width {
      padding: 0 15px;
    }

    pre.highlight,
    div.highlight table pre,
    pre.highlight code {
      font-size: 10px;
      line-height: 16px;
    }

    .edit-page-link {
      display: none;
    }
}

/* small tablet/landscape phone */
@media (min-width: 481px) {
    .wrap, .content .width, section.content article {
        width: auto;
        max-width: 100%;
    }

    section.content article blockquote {
        margin-left: 0;
    }

    body {
        padding-bottom: 20px;
    }
    body.home {
        padding-bottom: 0;
    }
}

/* tablet/desktop: iPad mini is 768px in portrait mode */
@media (min-width: 768px) {
    .width {
        max-width: 960px;
        /* make columns add to <880 for 60 gutter */
    }
    .content .width {
        width: 960px;
    }

    .panel3 {
        width: 29%;
        margin: 1em 2% 0;
        display:inline-block;
        vertical-align: top;
        font-size: 14px;
    }

    section.content article {
        margin: 0 auto;
        width: 660px;
    }

    section.content nav.toc {
        float: left;
    }


    section.content article.withtoc {
        float: right;
    }

    section.content aside {
        float: left;
        width: 220px;
    }

    #\_ {
        display: none;
    }
}

@media (min-width: 960px) {
    .marketing-row .width {
      padding: 0;
      width: 960px;
      max-width: 960px;
    }
    .marketing-row .col {
      float: left;
      width: 280px;
      margin-left: 40px;
    }
    .marketing-row .col.first {
      margin-left: 0;
    }
}


/* Algolia Doc Search */

@media screen and (max-width: 960px) {
    #algolia-doc-search {
        display: none;
    }
}

input#algolia-doc-search {
    background: transparent url(asset-path('search.png')) no-repeat 10px center;
    background-size: 16px 16px;

    position: relative;
    vertical-align: top;
    padding: 0 10px;
    padding-left: 35px;
    margin-left: 10px;
    margin-top: 10px;
    height: 30px;
    font-size: 16px;
    line-height: 20px;
    background-color: #555;
    border-radius: 4px;
    color: white;
    outline: none;
    border: none;
    width: 170px;

    transition: width .2s ease;
}

input#algolia-doc-search:focus {
    width: 240px;
}

.algolia-autocomplete .aa-dropdown-menu {
    margin-left: -110px;
    margin-top: -4px;
}

.algolia-autocomplete {
    text-transform: none;
    vertical-align: top;
    height: 53px;
}

.algolia-docsearch-suggestion {
    border-bottom-color: #CC2E39;
}

.algolia-docsearch-suggestion--category-header {
    background-color: #FBE178;
    color: #222;
}

.algolia-docsearch-suggestion--highlight {
    color: #CC2E39;
}

.algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight {
    background-color: #CC2E39;
}

.aa-cursor .algolia-docsearch-suggestion--content {
    color: #CC2E39;
}

.aa-cursor .algolia-docsearch-suggestion {
    background: #f1f3f5;
}

.fourOhFour section.content article {
    width: 100%;
    font-size: 12px;
}

.fourOhFour section.content .extraDetails {
    display: none;
}

@media (min-width: 768px) {
  .fourOhFour section.content article {
    background-image: url(asset-path('flow-no-wordmark.png'));
    background-size: 241px 300px;
    background-repeat: no-repeat;
    padding-left: 260px;
    font-size: 16px;
  }

  .fourOhFour section.content .extraDetails {
      display: inline;
  }
}

.fourOhFour article h1 {
  margin-bottom: 15px;
}
