//= require codemirror/lib/codemirror.css
//= require codemirror/addon/lint/lint.css

#try.content {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

#try footer {
  position: absolute;
  height: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid #ddd;
  padding: 4px 7px;
  font-size: 12px;
}

.editor {
}

.editor .code {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 30px;
  right: 50%;
  background: #fff;
}

.editor .results {
  position: absolute;
  left: 50%;
  top: 0;
  right: 0;
  bottom: 30px;
  font-size: 12px;
  background: #f7f7f7;
  border-left: 1px solid #ddd;
  overflow: auto;
}

.editor .results .toolbar {
  position: relative;
  background: #fff;
  border-bottom: 1px solid #ddd;
  list-style: none;
  margin: 0;
  padding: 0;
}
.editor .results .toolbar:after {
  content: "";
  display: block;
  clear: both;
}
.editor .results .toolbar .tab {
  border-right: 1px solid #ddd;
  cursor: pointer;
  float: left;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 15px;
}
.editor .results.show-errors .toolbar .tab.errors-tab,
.editor .results.show-json .toolbar .tab.json-tab,
.editor .results.show-ast .toolbar .tab.ast-tab {
  background: #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: -1px;
}

.editor .results .toolbar .version {
  position: absolute;
  right: 5px;
  top: 0px;
  line-height: 36px;
}

.editor .results .errors,
.editor .results .json,
.editor .results .ast {
  display: none;
  padding: 7px 10px;
}
.editor .results .loading {
  display: none;
}

.editor .results.show-errors .errors,
.editor .results.show-json .json,
.editor .results.show-ast .ast,
.editor .results.show-loading .loading {
  display: block;
}

.editor .errors ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.editor .errors li + li {
  margin-top: 10px;
  padding-top: 10px;
  border-top: solid #eee 1px;
}

.editor .errors .msgHighlight,
.editor .errors .msgType {
  cursor: pointer;
}

.editor .CodeMirror {
  height: 100%;
}

.editor .CodeMirror pre {
  font-family: "Roboto Mono", Menlo, monospace;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.editor .loading {
  position: absolute;
  width: 100%;
}

/* https://github.com/tobiasahlin/SpinKit */
.editor .loader {
  position: relative;
  margin: 150px auto 0;
  width: 70px;
  text-align: center;
}
.editor .loader > div {
  width: 18px;
  height: 18px;
  background-color: #ddd;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.editor .loader .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.editor .loader .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
