{% include vars.html %}

<div class="khan-group mt-1">
  <strong class="khan-group-item bg-faded">
    {{i18n.docs_additional_reading}}
  </strong>

  {% for item in include.items %}
    {% if item.guide %}
      {% assign match = site.data.guides | where: 'id', item.guide | first %}
      {% assign path = match.pages[0].path %}
      {% assign title = i18n.guides[match.id].title %}
      {% assign description = i18n.guides[match.id].description %}
    {% else %}
      {% for guide in site.data.guides %}
        {% assign match = guide.pages | where: 'path', item.page | first %}
        {% if match %}
          {% assign path = match.path %}
          {% assign title = i18n[path].title %}
          {% assign description = i18n[path].description %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}

    <a class="khan-group-item list-group-item-action" href="{{url_base}}{{path}}">
      <h5 class="khan-group-item-heading">
        {{title}}
      </h5>
      <p class="khan-group-item-text text-muted">
        {{description}}
      </p>
    </a>
  {% endfor %}
</div>
