{% include vars.html %}

<footer class="footer">
  <div class="container">
    <div class="clearfix">
      <div class="footer-left">
        <span class="footer-item">&copy; 2014&ndash;{{ site.time | date: '%Y' }} Facebook Inc.</span>
        <span class="footer-item"><a href="https://github.com/facebook/flow/blob/master/LICENSE">{{i18n.site_license}}</a></span>
        <span class="footer-item"><a href="https://code.facebook.com/codeofconduct">{{i18n.site_code_of_conduct}}</a></span>
        <span class="footer-item"><a href="https://opensource.facebook.com/legal/terms">{{i18n.site_terms_of_use}}</a></span>
        <span class="footer-item"><a href="https://opensource.facebook.com/legal/privacy">{{i18n.site_privacy_policy}}</a></span>
        {% if lang.tag == "en" %}
          <span class="footer-item"><a href="https://github.com/{{site.repository}}/edit/master/website/{{page.path}}">{{i18n.site_edit_this_page}}</a></span>
        {% else %}
          <span class="footer-item"><a href="{{url_base}}/org/translations">{{i18n.site_edit_this_page}}</a></span>
        {% endif %}
      </div>

      <div class="footer-right">
        <a href="https://code.facebook.com/projects/">
          {% include svg/logo-fboss.svg %}
        </a>
      </div>
    </div>
  </div>
</footer>
