<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <meta charset='utf-8'>
    <title>Flow | {{ page.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/1/docsearch.min.css" />
    {% css 'flow.css' %}
    {% css 'syntax.css' %}
    <link rel='shortcut icon' href='/static/favicon.png'>
    <meta name='viewport' content='width=480'>
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:site_name" content="flowtype">
    <meta property='og:description' content='Flow is a static type checker for
    JavaScript.'>
    <meta property='og:image' content='http://flowtype.org/static/flow-og-image.png'>
    <meta property='og:url' content="http://flowtype.org{{ page.url }}">
    {% if (page.is_post) %}
    <meta property='og:type' content='article'>
    <meta property='article:author' content="{{ author.facebook }}">
    {% else %}
    <meta property='og:type' content='website'>
    {% endif %}
    {% js prelude.js %}
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/blog/feed.xml">
</head>
<body>

<header class='topbar'><nav class='width'>
<a href='/'>
  <img src="/static/flow-logo.png" class="logo">
</a>
    <ul>
      <li><a href="/docs/getting-started.html#_"
          {% if page.section == 'docs' %} class="active" {% endif %}>
          Docs
      </a></li>
      <li><a href="/docs/about-flow.html#_"
          {% if page.section == 'about' %} class="active" {% endif %}>
          About
      </a></li>
      <li><a href="/support.html"
          {% if page.section == 'support' %} class="active" {% endif %}>
          Support
      </a></li>
      <li><a href="/blog"
          {% if (page.id == 'blog' or page.id == 'all' or page.is_post) %}
            class="active"
          {% endif %}>
          Blog
      </a></li>
      <li>
        <input id="algolia-doc-search" type="text" placeholder="Search docs..." />
      </li>
    </ul>
    <ul class="external">
      <li><a href="http://github.com/facebook/flow">GitHub</a>
    </ul>
</nav></header>
