<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <meta charset='utf-8'>
    <title>Flow | {{ page.title }}</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/1/docsearch.min.css" />
    {% css 'default.css' %}
    {% css 'syntax.css' %}
    <link rel='shortcut icon' href='/static/favicon.png'>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:site_name" content="flowtype">
    <meta property='og:description' content='Flow is a static type checker for
    JavaScript.'>
    <meta property='og:image' content='http://flowtype.org/static/flow-og-image.png'>
    <meta property='og:url' content="http://flowtype.org{{ page.url }}">
    {% if (page.is_post) %}
    <meta property='og:type' content='article'>
    <meta property='article:author' content="{{ author.facebook }}">
    {% else %}
    <meta property='og:type' content='website'>
    {% endif %}
    {% js prelude.js %}
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/blog/feed.xml">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49208336-4', 'auto');
      ga('send', 'pageview');

    </script>
</head>
<body class="{{ page.bodyClass }}">

<header class='topbar'><nav class='width'>
<a href='/'>
  <img src="{% asset_path 'flow-logo' %}" alt="Flow logo" class="logo" />
</a>
    <ul>
      <li><a href="/docs/getting-started.html#_"
          {% if page.section == 'docs' %} class="active" {% endif %}>
          Docs
      </a></li>
      <li><a href="/try/"
          {% if page.section == 'try' %} class="active" {% endif %}>
          Try
      </a></li>
      <li><a href="/support.html"
          {% if page.section == 'support' %} class="active" {% endif %}>
          Support
      </a></li>
      <li><a href="/blog"
          {% if (page.id == 'blog' or page.id == 'all' or page.is_post) %}
            class="active"
          {% endif %}>
          Blog
      </a></li>
      <li>
        <input id="algolia-doc-search" type="text" placeholder="Search docs..." />
      </li>
    </ul>
    <ul class="external">
      <li><a href="http://github.com/facebook/flow">GitHub</a>
    </ul>
</nav></header>
