{% capture ________ %}
  {% include utils/page-vars.html page=include.page %}

  {% if title %}
    {% assign meta_title = title | append: " | " %}

    {% if include.page.layout == "post" %}
      {% assign meta_title = meta_title | append: i18n.blog_title %}
    {% else %}
      {% assign meta_title = meta_title | append: i18n.site_title %}
    {% endif %}
  {% else %}
    {% assign meta_title = i18n.site_title | append: ": " | append: i18n.site_description %}
  {% endif %}

  {% if page.description %}
    {% assign meta_description = page.description %}
  {% elsif page_description %}
    {% assign meta_description = page_description %}
  {% elsif page.excerpt %}
    {% assign meta_description = page.excerpt | strip_html | strip_newlines | truncate: 160 %}
  {% else %}
    {% assign meta_description = i18n.site_description %}
  {% endif %}

  {% assign meta_canonical = include.page.url | replace: 'index.html', '' | prepend: site.baseurl | prepend: site.url %}
{% endcapture %}
