<ul class="nav nav-stacked guide-nav">
  {% for post in site.posts %}
    <li class="nav-item">
      {% if post.url == url_relative %}
        <strong>
          {{post.short-title | default: post.title}}
          <span class="sr-only">(current)</span>
        </strong>
      {% elsif post.medium-link %}
        <a class="nav-link" href="{{post.medium-link}}">
          {{post.short-title | default: post.title}}
        </a>
      {% else %}
        <a class="nav-link" href="{{site.baseurl}}{{post.url}}">
          {{post.short-title | default: post.title}}
        </a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
