{% capture _______ %}
{% include utils/page-vars.html page=page %}

{% assign lang = page_lang %}
{% assign i18n = page_i18n %}

{% assign url_base = page_url_base %}
{% assign url_lang = page_url_lang %}
{% assign url_relative = page_url_relative %}

{% assign title = page_title %}
{% assign description = page_description %}

{% assign guide = page_guide %}
{% assign guide_current = page_guide_current %}
{% assign guide_prev = page_guide_prev %}
{% assign guide_next = page_guide_next %}
{% endcapture %}
