pre, .errmsg, .doc code {
  font-family: Droid Sans Mono, Menlo, monospace;
}

pre.code {
  overflow-x: auto;
  display: block;
  font-size: 13px;
  margin: 20px 0;
  border-left: 4px solid rgb(214, 139, 0);
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 0;
  background-color: rgba(226, 141, 49, 0.1);
}

.doc {
  color: #336699;
  white-space: normal;
  font-family: Helvetica Neue, Georgia;
}

.doc p {
  font-family: Georgia;
  line-height: 1.35em;
  letter-spacing: 0.01em;
}

.doc code {
  font-size: 13px;
  background-color: rgba(40, 90, 120, 0.1);
  padding: 1px 2px;
  border-radius: 2px;
}

.error {
  border-bottom: solid 1px rgba(255, 100, 100, 0.3);
  /*color: red;*/
}

.selected {
  background-color: rgba(255, 100, 100, 0.2);
}

.main-selected {
  background-color: rgba(255, 100, 100, 0.6);
  border-bottom: none;
}

.errmsg {
  position: absolute;
  max-width: 450px;
  font-size: 12px;
  padding: 7px 10px;
  border: 1px solid hsl(19, 100%, 42%);
  background-color: #FAEBE6; /* hsla(8, 75%, 54%, 0.1) over white */
}
