[ignore]
# Ignore everything so that checking snippets do not need to check other unrelated React code
<PROJECT_ROOT>/.*
.*/node_modules/.*

[options]
enums=true
exact_by_default=false
all=true
inference_mode=lti

[lints]
all=error
