[ignore]
# Ignore everything so that checking snippets do not need to check other unrelated React code
<PROJECT_ROOT>/.*
.*/node_modules/.*

[options]
enums=true
all=true
experimental.component_syntax=true
