.DS_STORE
*.swo
*.swp
node_modules

# default jekyll build dir
_site/

# jekyll/jekyll-assets caches
.asset-cache
.jekyll-metadata

# Bower-installed dependencies
_assets/third-party-bower

# Flow build artifacts are copied here:
/_assets/gen
/static/master
/_data/flow_dot_js_versions.csv
