---
id: blog 
title: Blog
layout: blog 
---

{% include blog_pagination.html %}

<div class="posts">
  {% for post in paginator.posts %}
    {% assign author = site.data.authors[post.author] %}
    <article class="post">
      
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
        <p class="meta">{{ post.date | date: "%B %e, %Y" }} by {{ author.display_name }}</p>

      <div class="entry">
        {% if post.content contains '<!--truncate-->' %}
          {{ post.content | split:'<!--truncate-->' | first }}
          <div class="read-more">
            <a href="{{ site.baseurl }}{{ post.url }}" >
              ...read the rest of this truncated post
            </a>
          </div>
        {% else %}
          {{ post.content }}
        {% endif %}
      </div>
      
      <hr class="blogpostend" >
    </article>
  {% endfor %}
</div>

{% include blog_pagination.html %}
