---
sectionid: blog
---

{% include header.html %}

<section class='content'><div class='width'>

{% include nav_blog.html %}

<article class='withtoc'>
    <p>{{ page.description }}</p>

    {{ content }}

    <div class="docs-prevnext">
      {% if page.prev %}
        <a href="/docs/{{ page.prev }}#_">&larr; Prev</a>
      {% endif %}
      {% if page.next %}
        <a class="right" href="/docs/{{ page.next }}#_">Next &rarr;</a>
      {% endif %}
    </div>

    <a id="_"></a>
</article>

</div></section>
{% include footer.html %}
