---
sectionid: docs
---

{% include header.html %}

<section class='content'><div class='width'>

{% include nav_docs.html %}

<article class='withtoc'>
    <h1>{{ page.title }}</h1>
    <p>{{ page.description }}</p>

    {{ content }}

    <p class="docs-prevnext">
      {% if page.prev %}
        <a href="/docs/{{ page.prev }}#_">&larr; Prev</a>
      {% endif %}
      {% if page.next %}
        <a class="right" href="/docs/{{ page.next }}#_">Next &rarr;</a>
      {% endif %}
    </p>

    <p class="edit-page-block">
      You can
      <a href="https://github.com/facebook/flow/tree/master/website/{{ page.path }}" target="_blank">
        edit this page on GitHub
      </a>
      and send us a pull request!
    </p>

    <a id="_"></a>
</article>

</div></section>
{% include footer.html %}
